* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 1200px;

}

/*HEADER*/

.header {
    margin-top: 20px;
    height: 60px;
    display: flex; 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    
}

.logo img {
    width: 100px;
}

.navigation {
    display: flex; 
    margin-right: 0;
}

.navigation p {
    margin: 0 20px 0 0;
    font-size: 20px;
    height: 30px;
    align-items: center;
}

.navigation p:hover {
    color: rgb(3, 102, 196);
    border-bottom: solid 1px;
    transition: 0.5s;
    cursor: pointer;
}

/*END HEADER*/



/*INTRO*/
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

}

.intro p{
    padding-top: 100px;
    font-size: 48px;
    width: 300px;
    text-align: center;
}


/*END INTRO*/

/*ABOUT*/
.about {
    margin: 40px;
}

.about h1 {
    text-align: center;
}

.about_block {
    display: flex;
}

.main {
    width: 33%;
}

.main h4 {
    padding-bottom: 10px;
}
.about_company {
  width: 80%;
  max-width: 550px;
  margin: 10px 10px;
  padding: 1em;
  box-shadow:
   -13px 0 20px -23px rgba(110, 98, 98, 0.8),
   0 0 40px rgba(219, 219, 219, 0.1) inset;
}

.about_cen {
    margin-top: 10px;
}

.about_control {
    margin-top: 10px;
}

.about_licence {
    margin-top: 10px;
}

.about_licence h4 {
    padding-bottom: 10px;
}



/*END ABOUT*/

/*SERVICE*/
.service {
    /* display: flex; */
    
}

.service h1 {
    text-align: center;
}

.service_left {
    /* display: flex;
    align-items:center;
    text-align: center; */
    margin-right: 20px;
}

.service_block {
    /* border-top: solid 2px; */
    /* border-bottom: solid 1px; */
    margin: 0 0px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.line {
    margin: -50px auto 20px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 10px 10px -10px #333;
	width: 95%;
}

.format {
    width: 150px;
    /* background-color: aqua; */
    text-align: center;
}

.service_block p {
    margin-left: 10px;
}

.service_block img {
    width: 50px;
    margin-right: 20px;
}

/*END SERVICE*/

/*INTEGRATION*/
.integration {
    height: 300px;
    
}

.integration h1 {
    text-align: center;
    margin-top: 40px;
}


.integration_block {
    display: flex;
}

.integration_block img {
    width: 300px;
}

.integration_block_right {
    margin-left: 50px;
    
}
.integration_title {
    margin-top: 30px;
}
.integration_title img {
    width: 50px;
}

.integration_title > div > img,
.integration_title > div > p {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 10px;
  }
/*END INTEGRATION*/

/*PARTNER*/
.partner {
    height: 400px;
}

.partner h1 {
    text-align: center;
}

.partner_block {
    display: flex;
}

.partner_block_title h4 {
    padding-bottom: 10px;
}

/*END PARTNER*/

/*CONTACT*/
.contact {
    height: 200px;
}

.contact h1 {
    text-align: center;
    margin-top: 40px;
}

.contact p {
    padding-left: 10px;
}

/*END CONTACT*/


/* скрываем чекбоксы и блоки с содержанием */
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    /* border-bottom: 1px dotted rgb(0, 0, 0); */
    padding: 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block; 
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: rgb(7, 155, 214);
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    padding: 10px; 
    -moz-box-shadow: inset 3px 3px 10px #c8d5d6;
    /* background: #efefef; */
    /* -webkit-box-shadow: inset 3px 3px 10px #7d8e8f; */
    /* box-shadow: inset 3px 3px 10px #7d8e8f; */
}

/* demo контейнер */
.demo {
    /* margin: 5% 10%; */
    font-size: 1.1em;
}

.picture {
    width: 50px;

}

.picture1 {
    align-items: center;
    display: block;

}



/**/
@import url(https://fonts.googleapis.com/css?family=Raleway);


.faq-header{
  margin-top: 40px;
  text-align: center;

}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 5px 0;
  border-bottom: 1px dotted #ccc;
}

.panel-title {
  font-size: 20px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
font-family: 'Raleway', sans-serif;
  position: absolute;
  margin-left: 20px;
  margin-top: 8px;
  z-index: 5;
  font-size: 32px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}


hr {
    position: relative;
    border: none;
    height: 3px;
    margin: 10px 0 20px 0;
    background-image: linear-gradient(to right, #FFF, #BFE2FF, #FFF);
}


/*слайд партнеров*/

.scroll-img {
    
    width: 1200px;
    height: 210px;
    overflow: hidden;
    font-size: 0;
  }
  .scroll-img ul {
    width: 700px;
    height: 600px;
    margin: 0;
  }
  .scroll-img ul li {
    display: inline-block;
    margin: 10px 0 10px 10px;
  }
  #demo4.scroll-img ul,
  #slide.scroll-img ul {
    width: 1500px;
    opacity: 0.5;
  }
  #slide-btn {
    width: 1200px;
    /* padding-top: 10px; */
  }

  .scroll-img ul li img {
    width: 120px;
  }

  /*END слайд партнеров*/


  /*FOOTER*/
  .footer-container {
    /* width: 100%; */
    
}
.footer-block {
    /* max-width: 1200px;   */
    background-color: rgb(79, 82, 85);
    width: 1200px;
    margin-top: 20px;
    padding:  20px 0;
    display: flex;
  }

  .footer-left {
      color: #FFF;
  }

  .footer-left img {
    width: 100px;
    padding-bottom: 30px;
}
  .footer-links {
    padding-bottom: 90px;
  }

  .footer-links a {
    color: #FFF;
    text-decoration: none; 
    padding-right: 10px;
  }

  .footer-contact-link > div > img,
  .footer-contact-link > div > p {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 10px;
  }


  .footer-center {
    color:#FFF;
  }

  .footer-contact p {
    padding-bottom: 5px;
  }

  .footer-right {

  }

  .footer-contact a {
    text-decoration: none;
    color: #FFF;

}

  .footer-icons img {
    width: 60px;
}

  /*END FOOTER*/
